<!DOCTYPE html>
<html>

<head>
    <meata charset="UTF-8">
        <title>certificate</title>
        <link href="https://fonts.google.com/specimen/Roboto?selection.family=Roboto" rel="stylesheet">
        <style>
            table {
                width: 600px;
                margin: 0 auto;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .img-responsive {
                display: block;
                max-width: 100%;
                height: auto;
            }

            td {
                text-align: center;
            }
        </style>
</head>

<body>
    <table background="http://pehlakadam.in/img/certificate.png">
        <thead>.
            <caption>
            </caption>
        </thead>
        <tbody>
            <tr>
                <td style="font-family: 'Roboto', sans-serif;padding-top:250px;text-transform:uppercase;color:#134455">
                    <p style="font-size:40px;font-weight: 600;margin:0;letter-spacing:1px;">Certificate</p>
                    <p style="font-size: 17px;font-weight:600;
    border-bottom: 2px solid #134455;
    margin: 5px 210px;">Of Completion</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="margin-top: 50px;font-size:22px;color:black;font-family: 'Roboto', sans-serif;">This is to certify that</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="border-bottom: 2px solid black;margin:0px 80px;font-size:22px;color:black;font-family: 'Roboto', sans-serif;">
                        <%=name%>
                    </p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size:22px;color:black;font-family: 'Roboto', sans-serif;">has completed the Digital Course</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p style="font-size: 22px;color:black;font-family:  'Roboto', sans-serif;margin: 0 0px 270px 0;">on Pehla Kadam Season 4, 2018.</p>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>