<div class="inside-page latest-inside py-5">
    <div class="d-flex align-items-center px-5 pt-2">
        <div class="initial-letter">#L</div>
        <div class="ml-2 initial-word">
            <div>Latest</div>
            <div>Buzz</div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <article ng-repeat="blog in blogs" ng-if="blog.id==blogData">
                    <div class="d-flex align-items-center justify-content-end mb-2">
                        <div class="mr-1"><b>Share : </b></div>
                        <a href="https://www.facebook.com/pehlakadam04/" target="_blank">
                            <!-- <i class="fab fa-facebook-f"></i> -->
                            <img width="80%" src="img/header/facebook.png" class="img-fluid">
                        </a>
                        <a href="https://twitter.com/pehlakadam" target="_blank">
                            <!-- <i class="fab fa-twitter"></i> -->
                            <img width="80%" src="img/header/twitter.png" class="img-fluid">
                        </a>
                    </div>
                    <h4 class="blog-title">{{blog.title}}</h4>
                    <div ng-bind-html="blog.content"></div>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <div class="pl-3 all-blogs">
                    <div class="blog" ng-repeat="blog in blogs" ui-sref="latest-buzz({name:blog.id})">
                        <h5>{{blog.title}}</h5>
                    </div>
                    <!-- <div class="blog" ui-sref="latest-buzz({name:'5big-mistakes'})">                            
                        <h5>5 Big Mistakes That Investors Make And Its Impact</h5>
                    </div>
                    <div class="blog" ui-sref="latest-buzz({name:'budget-2018'})">                            
                        <h5>12 Things About The Budget-2018, Related To The Middle Class</h5>
                    </div>
                    <div class="blog" ui-sref="latest-buzz({name:'fake-gst'})">     
                        <h5>How To Check A Fake GST Number? </h5>
                    </div>
                    <div class="blog" ui-sref="latest-buzz({name:'fake-gst'})">        
                        <h5>How To Check Your Bank Balance On The Phone Without Internet</h5>
                    </div>
                    <div class="blog" ui-sref="latest-buzz({name:'tax-return'})">
                        <h5>Do I Need To File My Income Tax Return ?</h5>
                    </div>
                    <div class="blog" ui-sref="latest-buzz({name:'buy-healthinsurance'})">   
                        <h5>Things To Keep In Mind Before Buying Health Insurance</h5>
                    </div>
                    <div class="blog" ui-sref="latest-buzz({name:'fake-gst'})">                                                        
                            <div class="blog" ng-click="changeBlog('save-moretax')">
                        <h5>How To Save More Tax !</h5>
                    </div>
                    <div class="blog" ui-sref="latest-buzz({name:'fake-gst'})">                                                        
                            <div class="blog" ng-click="changeBlog('save-money')">
                        <h5>15 Tricks To Save Money ! </h5>
                    </div>
                    <div class="blog" ui-sref="latest-buzz({name:'fake-gst'})">                                                        
                            <div class="blog" ng-click="changeBlog('cc-limit-enhancement')">
                        <h5>Credit Card Limit Enhancement - Good Or Bad ?</h5>
                    </div>
                    <div class="blog" ui-sref="latest-buzz({name:'fake-gst'})">                                                        
                            <div class="blog" ng-click="changeBlog('home-purchase')">
                        <h5>How To Plan A Home Purchase ?</h5>
                    </div>
                    <div class="blog" ui-sref="latest-buzz({name:'fake-gst'})">                                                        
                            <div class="blog" ng-click="changeBlog('retirement-savings')">
                        <h5>5 Ways To Boost Retirement Savings</h5>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>