<div id="overlay" class="p-5 overlay">
    <h2 ng-click="closeOverlay()">CONTINUE TO SITE<i class="fas fa-angle-right ml-3"></i></h2>
    <div class="overlay_content">
        <div class="my-auto mx-auto"><img src="img/header/logo.png" alt="logo" width="14%"></div>
        <div class="quote-text">
            <div>QUOTE OF</div>
            <div class="text-right">THE DAY</div>
        </div>
        <div class="quote">
            If you hold yourself back, you’re doing a disservice to the team.
            <blockquote class="text-right mt-3"><i>- Sharfi Farhana,<br> Director of Talent at IAC</i></blockquote>
        </div>
    </div>
</div>