<div class="blue-background p-3">
    <div class="container">
        <p class="text-white text-justify">
            Pehla Kadam is a strategically designed platform that provides ideas and creates products for people who are looking for
            a better way to manage their finances. In fact, Pehla Kadam has something to offer for everyone - from corporates
            to first-time investors. Everything in this world is related to finance and therefore it is important to learn
            about it. Knowledge is the best weapon to have in your arsenal, if you want to become a well-informed investor.
            Pehla Kadam is the one-stop guide for all those who want to improve their knowledge about the financial world.
        </p>
        <p class="text-white text-justify">
            Pehla Kadam boasts of wide reach across rural and urban India. The “Rural Financial Literacy Program” is one of the noteworthy
            programs of Pehla Kadam. This program helps to further the goal to impart knowledge to the rural sectors of the
            country for strategically managing their finances.
        </p>
        <p class="text-white text-justify">In this age of technology, it does sound incredulous, but there is a large section of population in India that still
            doesn’t have access to proper financial guidance. The aim of Pehla Kadam is to change this situation and create
            smarter investors in India. With Pehla Kadam, you are just one click away from making a smart financial decision.</p>
    </div>
    <div class="text-center py-2" ng-click="$dismiss()">
            <a role="button" class="common-btn text-center px-4 py-2 position-relative yellow-color my-5">
                CLOSE
                <div class="common-btn-bg"></div>
            </a>
        </div>
</div>