<div class="p-4 blue-background yellow-border login">
    <div ng-click="$dismiss()" class="close-modal">
            <i class="fas fa-times"></i>
    </div>
    <div class="container">
        <h2 class="text-center mb-4 Roboto-Bold yellow-color">LOGIN TO CONTINUE</h2>
        <form ng-submit="login(formData)">
            <div class="form-group">
                <input type="text" ng-model="formData.name" class="form-control" id="name" placeholder="NAME" required only-letters-input>
            </div>
            <div class="form-group">
                <input type="email" ng-model="formData.email" class="form-control" id="email" placeholder="EMAIL" required>
            </div>
            <div class="form-group">
                <input type="text" ng-model="formData.number" class="form-control" id="contact" placeholder="CONTACT" required only-digits>
            </div>
            <div class="text-right">
                <button type="submit" class="btn px-5 yellow-bg" ng-click="">ENTER</button>
            </div>
        </form>
    </div>
</div>