/* Bootstrap Variables Goes Here */

// Colors
//
// Grayscale and brand colors for use across Bootstrap.
// Start with assigning color names to specific hex values.
$white: #fff !default;
$black: #000 !default;
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #5cb85c !default;
$blue: #0275d8 !default;
$teal: #5bc0de !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;
// Create grayscale
$gray-dark: #292b2c !default;
$gray: #464a4c !default;
$gray-light: #636c72 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;
// Reassign color vars to semantic color scheme
$brand-primary: $blue !default;
$brand-success: $green !default;
$brand-info: $teal !default;
$brand-warning: $orange !default;
$brand-danger: $red !default;
$brand-inverse: $gray-dark !default;
// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;
// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
// Style anchor elements.
$link-color: $brand-primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: -apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif !default;
$font-family-serif: Georgia,
"Times New Roman",
Times,
serif !default;
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem !default;
$font-size-sm: .875rem !default;
$font-size-xs: .75rem !default;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;
$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;
$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;
// Components
//
// Define common padding and border radius sizes and more.
$line-height-lg: (4 / 3) !default;
$line-height-sm: 1.5 !default;
$border-radius: .25rem !default;
$border-radius-lg: .3rem !default;
$border-radius-sm: .2rem !default;
$component-active-color: $white !default;
$component-active-bg: $brand-primary !default;
$caret-width: .3em !default;
$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .15s linear !default;
$transition-collapse: height .35s ease !default;
// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.
$btn-padding-x: 1rem !default;
$btn-padding-y: .5rem !default;
$btn-line-height: 1.25 !default;
$btn-font-weight: $font-weight-normal !default;
$btn-box-shadow: inset 0 1px 0 rgba($white, .15),
0 1px 1px rgba($black, .075) !default;
$btn-focus-box-shadow: 0 0 0 2px rgba($brand-primary, .25) !default;
$btn-active-box-shadow: inset 0 3px 5px rgba($black, .125) !default;
// Forms
$input-padding-x: .75rem !default;
$input-padding-y: .5rem !default;
$input-line-height: 1.25 !default;
$input-bg: $white !default;
$input-bg-disabled: $gray-lighter !default;
$input-color: $gray !default;
// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-min-width: 10rem !default;
$dropdown-padding-y: .5rem !default;
$dropdown-margin-top: .125rem !default;
$dropdown-bg: $white !default;
$dropdown-border-color: rgba($black, .15) !default;
$dropdown-box-shadow: 0 .5rem 1rem rgba($black, .175) !default;
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/bootstrap/scss/bootstrap";
@import "other/font-fix";
//font
@font-face {
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-family: Roboto;
}

@font-face {
    src: url('../fonts/D-regular/DIN-Regular/DINCondensed-Bold.ttf');
    font-family: D-Regular;
}

@font-face {
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-family: Roboto-Bold;
}

@font-face {
    src: url('../fonts/Roboto/Roboto-Light.ttf');
    font-family: Roboto-Light;
}

body {
    // padding-top: 70px;
    font-family: Roboto;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

footer {
    font-size: 12px;
    background-color: #eee;
    padding-top: 10px;
    p {
        margin: 0;
    }
}

.footer-style {
    a {
        text-decoration: none;
        color: white;
        &:hover {
            color: #f2cc2d;
        }
    }
    .border-white {
        border-bottom: 5px solid #fff;
    }
    .footer-img {
        top: -15px;
    }
}

.header-icons{
    .overlay {
        display: none;
    }
}

//classes for color
.yellow-color {
    color: #fed530 !important;
}

.purple-color {
    color: #013a67 !important;
}

//background-color
.yellow-bg {
    background-color: #fed530 !important;
}

.blue-background {
    background-color: #013a67;
} //bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
}

.overlay {
    top: 0;
    left: 0;
    background-color: rgba(1,58,103,0.95);
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9999;
    .overlay_content {
        position: fixed;
        top: 18%;
        .quote-text {
            margin-top: 25px;
            width: 20%;
            color: white;
            font-size: 50px;
            line-height: 50px;
            font-family: D-Regular;
        }
        .quote {
            width: 35%;
            @extend .text-white;
            font-size: 30px;
            line-height: 30px;
            font-family: Roboto-Light;
            blockquote {
                font-size: 20px;
            }
        }
    }
    h2 {
        position: fixed;
        font-family: D-Regular;
        right: 6%;
        @extend .text-white;
        cursor: pointer;
    }
}

.google-custom-search {
    top: 0;
    left: 29%;
    .gsc-control-cse {
        // margin-top: 10px;
        background-color: transparent;
        border: 0;
    }
    .gsc-input-box {
        background-color: transparent;
        border-radius: 5px;
        input {
            background-color: transparent;
        }
    }
    .gsc-control-cse {
        padding: 0;
    } // .gsc-search-button-v2 {
    //     border-color: #012a49;
    //     background-color: #012947;
    // }
}

.header-icons {
    //for select tag
}

.translate-language {
    // margin-top: 12px;
    top: 0;
    right: 20%;
    .goog-te-gadget-simple {
        img {
            display: none;
        }
    }
    .goog-te-gadget-simple {
        background-color: transparent;
        border: solid 1px white;
        border-radius: 5px;
        .goog-te-menu-value {
            color: white;
        }
    }
    .goog-te-menu-value {
        span {
            color: white !important;
        }
        span:nth-child(3) {
            display: none;
        }
    }
}

.social-icons {
    top: -6px;
    right: 0px;
    z-index: 1;
}

.nav-up {
    transform: translateY(-100%);
}

.navbar {
    padding: 0;
}

.fa-svg-icon {
    display: inline-block;
    vertical-align: middle;
    min-width: 1em;
    min-height: 1em;
    height: 100%;
    position: relative;
    top: -1px;
}

//rating
.fa-svg-icon svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ui-select-bootstrap.open .dropdown-menu {
    display: block;
}

.font-D-Regular {
    font-family: D-Regular;
}

.Roboto-Regular {
    font-family: Roboto;
}

.Roboto-Bold {
    font-family: Roboto-Bold;
}

.blue-border {
    border: solid 10px #013a67 !important;
}

.yellow-border {
    border: 10px solid #ffd45a;
}

.blue-border-light {
    border: solid 3px #013a67;
}

.white-border {
    border: solid 10px white;
}

.active {
    color: yellow;
}

//digital-inside
.inside-page {
    background-image: url("../img/home/home-bg.png");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: repeat-y;
    background-size: cover;
    min-height: 94vh;
    .num-alpha {
        min-height: 242px;
        min-width: 242px;
    }
    .initial-letter {
        font-family: D-Regular;
        font-size: 110px;
        line-height: 110px;
        margin-top: 20px;
        color: $yellow;
        margin-left: auto;
    }
    .initial-word {
        font-family: D-Regular;
        font-size: 45px;
        line-height: 45px;
        color: #071f4e;
    }
    .digital-tabs {
        overflow-x: auto;
    }
    .digital-text {
        font-size: 36px;
        line-height: 32px;
        font-family: D-Regular;
    }
    .season-common {
        position: relative;
        border-top: none !important;
        border: 5px solid $yellow;
        .season-scroll {
            max-height: 50vh;
            overflow-y: auto;
        }
        &:before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 78%;
            border-bottom: 5px solid $yellow;
        }
    }
    .season-text {
        position: absolute;
        top: -25px;
        left: 30px;
        font-family: D-Regular;
        h3 {
            font-size: 50px;
            color: #081f4e;
            letter-spacing: 2px;
        }
    }
    .gallery-images {}
}

//gallery inside
.fancy-image {
    height: 80px;
}

//end gallery inside
//partners 
#partners {
    .common-btn-bg {
        width: 100%;
    }
}

//end partners
//latest-inside
.latest-inside {
    .blog-title {
        @extend .purple-color;
        text-transform: uppercase;
        padding-top: 10px;
    }
    p {
        font-size: 14px;
        text-align: justify;
    }
    article {
        margin-top: -50px;
    }
    .all-blogs {
        // margin-top: 10px;
        height: 70vh;
        overflow: auto;
        direction: rtl;
    }
    .blog {
        border-bottom: solid 2px #013a67;
        padding: 10px 5px;
        cursor: pointer;
        direction: ltr;
    }
    .blog:last-child {
        border-bottom: 0px;
    }
    article {
        h5 {
            text-transform: uppercase;
            @extend .purple-color;
        }
    }
}

//end latest-inside
//login scss//
.login {
    position: relative;
    h2 {
        letter-spacing: 10px;
    }
    .close-modal {
        width: 30px;
        height: 30px;
        color: #013a67;
        background-color: white;
        border: solid 3px rgba(255, 212, 90, 1);
        padding: 1px 7px;
        border-radius: 50%;
        position: absolute;
        top: -21px;
        right: -21px;
        cursor: pointer;
    }
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

::-webkit-scrollbar {
    border-radius: 10px;
    width: 8px;
    height: 8px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #013a66;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

//end login scss//