<div class="inside-page">
    <div class="d-flex align-items-center px-5">
        <div class="initial-letter">#D</div>
        <div class="ml-2 initial-word">
            <div>DIGITAL</div>
            <div>COURSE</div>
        </div>
    </div>
    <div class="container py-5">
        <div class="digital-tabs">
            <div class="d-flex align-items-center justify-content-center">
                <div class="mx-3 num-alpha d-flex align-items-center justify-content-center text-center text-white">
                    <div class="w-75">
                        <div class="m-0 pt-1 text-uppercase text-center digital-text">Mutual<br>Funds</div>
                    </div>
                </div>
                <div class="mx-3 num-alpha d-flex align-items-center justify-content-center text-center text-white">
                    <div class="w-75">
                        <div class="m-0 pt-1 text-uppercase text-center digital-text">Equity</div>
                    </div>
                </div>
                <div class="mx-3 num-alpha d-flex align-items-center justify-content-center text-center text-white">
                    <div class="w-75">
                        <div class="m-0 pt-1 text-uppercase text-center digital-text">Debt</div>
                    </div>
                </div>
                <div class="mx-3 num-alpha d-flex align-items-center justify-content-center text-center text-white">
                    <div class="w-75">
                        <div class="m-0 pt-1 text-uppercase text-center digital-text">Banking</div>
                    </div>
                </div>
                <div class="mx-3 num-alpha d-flex align-items-center justify-content-center text-center text-white">
                    <div class="w-75">
                        <div class="m-0 pt-1 text-uppercase text-center digital-text">Mutual<br>Funds</div>
                    </div>
                </div>
                <div class="mx-3 num-alpha d-flex align-items-center justify-content-center text-center text-white">
                    <div class="w-75">
                        <div class="m-0 pt-1 text-uppercase text-center digital-text">Equity</div>
                    </div>
                </div>
                <div class="mx-3 num-alpha d-flex align-items-center justify-content-center text-center text-white">
                    <div class="w-75">
                        <div class="m-0 pt-1 text-uppercase text-center digital-text">Debt</div>
                    </div>
                </div>
                <div class="mx-3 num-alpha d-flex align-items-center justify-content-center text-center text-white">
                    <div class="w-75">
                        <div class="m-0 pt-1 text-uppercase text-center digital-text">Banking</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>