<footer class="footer-style blue-background" ng-controller="FooterCtrl">
    <div class="border-white">
        <div class="container">
            <div class="list-footer">
                <div class="footer-padding">
                    <ol class="d-md-flex d-xs-block text-center justify-content-around list-unstyled mt-2">
                        <li><a href="#" ng-click="goToAnchor('home')" du-smooth-scroll du-scrollspy>HOME</a></li>
                        <li><a href="#" ng-click="goToAnchor('about')" du-smooth-scroll du-scrollspy>ABOUT</a></li>
                        <li><a href="#" ng-click="goToAnchor('activity')" du-smooth-scroll du-scrollspy>ACTIVITY</a></li>
                        <li><a href="#" ng-click="goToAnchor('snippets')" du-smooth-scroll du-scrollspy>SNIPPETS</a></li>
                        <li><a href="#" ng-click="goToAnchor('gallery')" du-smooth-scroll du-scrollspy>GALLERY</a></li>
                        <li><a href="#" ng-click="goToAnchor('partners')" du-smooth-scroll du-scrollspy>PARTNERS</a></li>
                        <li><a href="#" ng-click="goToAnchor('social')" du-smooth-scroll du-scrollspy>SOCIAL HUB</a></li>
                        <li><a href="#" ng-click="goToAnchor('latest')" du-smooth-scroll du-scrollspy>LATEST BUZZ</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid position-relative py-3">
        <!-- <div class="mt-0 footer-img">
            <img src="img/footer-icon.png" class="img-fluid float-left">
        </div> -->
        <div class="d-md-flex d-xs-block align-items-center">
            <div class="text-white">@Pehla Kadam.{{template.year}} Rights Reserved.</div>
            <div class="ml-auto google-custom-search">
                <script>
                    (function () {
                        var cx = '015001778397049072926:xavmhhy0tiy';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                    })();
                </script>
                <gcse:search></gcse:search>
            </div>
            <div class="ml-0 ml-md-2 translate-language">
                <div id="google_translate_element"></div>
                <script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({
                            pageLanguage: 'en',
                            includedLanguages: 'hi',
                            layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                        }, 'google_translate_element');
                    }
                </script>
                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            </div>
            <!-- <div class="text-white ml-auto">Designed &amp; Developed by
                <a href="http://www.wohlig.com" target="_blank">Wohlig Transformations Pvt. Ltd.</a>
            </div> -->
        </div>
    </div>
</footer>