<footer class="footer-style blue-background">
    <div class="border-white">
        <div class="container">
            <div class="list-footer">
                <div class="footer-padding">
                    <ol class="d-flex justify-content-around list-unstyled mt-2">
                        <li><a href="#">HOME</a></li>
                        <li><a href="#">ABOUT</a></li>
                        <li><a href="#">ACTIVITY</a></li>
                        <li><a href="#">GALLERY</a></li>
                        <li><a href="#">SNIPPETS</a></li>
                        <li><a href="#">LATEST BUZZ</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid position-relative">
        <div class="position-absolute mt-0 footer-img">
            <img src="img/footer-icon.png" class="img-fluid float-left">
        </div>
        <div class="text-white mb-3">
            <p class="float-left copyright">@Pehla Kadam.2018 Right Reserved.</p>
            <p class="float-right">Designed &amp; Developed by
                <a href="http://www.wohlig.com" target="_blank">Wohlig Transformations Pvt. Ltd.</a>
            </p>
        </div> -->
    </div>
</footer>