<footer class="footer-style blue-background" ng-controller="FooterCtrl">
    <div class="border-white">
        <div class="container">
            <div class="list-footer">
                <div class="footer-padding">
                    <ol class="d-flex justify-content-around list-unstyled mt-2">
                        <li><a href="#" ng-click="goToAnchor('home')" du-smooth-scroll du-scrollspy>HOME</a></li>
                        <li><a href="#" ng-click="goToAnchor('about')" du-smooth-scroll du-scrollspy>ABOUT</a></li>
                        <li><a href="#" ng-click="goToAnchor('activity')" du-smooth-scroll du-scrollspy>ACTIVITY</a></li>
                        <li><a href="#" ng-click="modalOpen()">DIGITAL COURSE</a></li>
                        <li><a href="#" ng-click="goToAnchor('snippets')" du-smooth-scroll du-scrollspy>SNIPPETS</a></li>
                        <li><a href="#" ui-sref="photo-gallery">GALLERY</a></li>
                        <li><a href="#" ng-click="goToAnchor('partners')" du-smooth-scroll du-scrollspy>PARTNERS</a></li>
                        <li><a href="#" ng-click="goToAnchor('social')" du-smooth-scroll du-scrollspy>SOCIAL HUB</a></li>
                        <li><a href="#" ng-click="goToAnchor('latest')" du-smooth-scroll du-scrollspy>LATEST BUZZ</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid d-flex align-items-center">
        <div class="mt-0 footer-img">
            <img src="img/footer-icon.png" class="img-fluid float-left">
        </div>
            <p class="text-white copyright">@Pehla Kadam.2018 Right Reserved.</p>
            <p class="text-white ml-auto">Designed &amp; Developed by
                <a href="http://www.wohlig.com" target="_blank">Wohlig Transformations Pvt. Ltd.</a>
            </p>
    </div>
</footer>