<header hide-on-scroll>
    <nav class="navbar navbar-expand-md  navbar-light fixed-top px-0">
        <div class="container">
            <div class="">
                <a class="navbar-brand" href="#">
                    <img src="http://pehlakadam.in/img/main-logo-new.png" alt="logo" width="200">
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" ng-include="template.menu"></ul>
            </div>
            <div class="mr-auto">
                <a class="mx-1">
                    <!-- <i class="fab fa-facebook-f"></i> -->
                    <img src="img/header/facebook.png" class="img-fluid">
                </a>
                <a class="mx-1">
                    <!-- <i class="fab fa-twitter"></i> -->
                    <img src="img/header/twitter.png" class="img-fluid">
                </a>
                </a>
            </div>
        </div>
    </nav>
</header>