<header ng-controller="headerCtrl">
    <nav class="navbar navbar-expand-md navbar-light fixed-top px-0 navbar-color-change">
        <div class="container-fluid">
            <div class="">
                <a class="navbar-brand d-inline" ui-sref="home">
                    <img src="img/header/logo.png" alt="logo" width="13%" class="img-width-change">
                </a>
            </div>
            <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" ng-include="template.menu"></ul>
            </div> -->
            <div class="position-absolute social-icons my-4 display">
                <a class="mr-1" href="https://www.facebook.com/pehlakadam04/" target="_blank">
                    <!-- <i class="fab fa-facebook-f"></i> -->
                    <img src="img/header/facebook.png" class="img-fluid">
                </a>
                <a href="https://twitter.com/Pehlakadam04" target="_blank">
                    <!-- <i class="fab fa-twitter"></i> -->
                    <img src="img/header/twitter.png" class="img-fluid">
                </a>
            </div>
        </div>
    </nav>
</header>