<section>
    <div class="home-video">
        <div class=" position-relative">
            <video width="100%" playsinline autoplay loop muted preload="yes">
                <source src=" https://video.wixstatic.com/video/002b41_f1f3df58a4214a9ca9b94ce9dc366d03/360p/mp4/file.mp4" type="video/mp4">
            </video>
            <div class="position-absolute home-video-text text-white text-center">
                <h2>
                    THE FIRST STEP TO
                </h2>
                <h2>
                    DEFEAT FEAR
                </h2>
            </div>
            <div class="position-absolute home-menu">
                <ul class="list-unstyled inline-list">
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button">HOME</a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button">ABOUT</a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button">ACTIVITY</a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button">GALLERY</a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button">SNIPPETS</a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button">LATEST BUZZ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="home-bg">
    <section>
        <div class="container">
            <div class="about-bg pt-5 px-5">
                <div class="row">
                    <div class="col-7 ">
                        <div class="position-relative">
                            <h3 class="text-uppercase">Know About Us</h3>
                            <p class="text-white text-justify">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin purus magna, cursus eu euismod eget, aliquet porta elit. Sed
                                sit amet viverra est. Mauris finibus tincidunt sem vel malesuada. Morbi sit amet lorem quis
                                justo tempus facilisis in a nunc. Duis a pulvinar sapien. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Proin purus magna, cursus eu euismod eget, aliquet porta elit. Sed sit amet
                                viverra est. Mauris finibus tincidunt sem vel malesuada. Morbi sit amet lorem quis justo
                                tempus facilisis in a nunc. Duis a pulvinar sapien.
                            </p>
                            <p class="text-white text-justify">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin purus magna, cursus eu euismod eget, aliquet porta elit. Sed
                                sit amet viverra est. Mauris finibus tincidunt sem vel malesuada. Morbi sit amet lorem quis
                                justo tempus facilisis in a nunc. Duis a pulvinar sapien. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Proin purus magna, cursus eu euismod eget, aliquet porta elit. Sed sit amet
                                viverra est. Mauris finibus tincidunt sem vel malesuada. Morbi sit amet lorem quis justo
                                tempus facilisis in a nunc. Duis a pulvinar sapien.
                            </p>
                            <p class="text-white text-justify">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin purus magna, cursus eu euismod eget, aliquet porta elit. Sed
                                sit amet viverra est. Mauris finibus tincidunt sem vel malesuada. Morbi sit amet lorem quis
                                justo tempus facilisis in a nunc. Duis a pulvinar sapien. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Proin purus magna, cursus eu euismod eget, aliquet porta elit. Sed sit amet
                                viverra est. Mauris finibus tincidunt sem vel malesuada. Morbi sit amet lorem quis justo
                                tempus facilisis in a nunc. Duis a pulvinar sapien.
                            </p>

                            <a class="common-btn yellow-color" role="button">
                                <div class="common-btn-bg">
                                    More
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-5 align-self-end">
                        <img src="img/home/about-profile.png" class="img-fluid">
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>