<!-- <----------Video Section -------------->
<section>
    <div class="home-video">
        <div class=" position-relative">
            <video width="100%" playsinline autoplay loop muted preload="yes">
                <source src=" https://video.wixstatic.com/video/002b41_f1f3df58a4214a9ca9b94ce9dc366d03/360p/mp4/file.mp4" type="video/mp4">
            </video>
            <div class="position-absolute home-video-text text-white text-center">
                <h2>
                    THE FIRST STEP TO
                </h2>
                <h2>
                    DEFEAT FEAR
                </h2>
            </div>
            <div class="position-absolute home-menu text-center">
                <ul class="list-unstyled inline-list">
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button">HOME</a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button">ABOUT</a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button">ACTIVITY</a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button">GALLERY</a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button">SNIPPETS</a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button">LATEST BUZZ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="home-bg">
    <!-- <----------About Us -------------->
    <section>
        <div class="container">
            <div class="blue-bg pt-5 px-5">
                <div class="row">
                    <div class="col-7 ">
                        <div class="position-relative">
                            <h3 class="text-uppercase common-title">KNOW&nbsp;
                                <span class="yellow-color">About Us</span>
                            </h3>
                            <p class="text-white text-justify">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin purus magna, cursus eu euismod eget, aliquet porta elit. Sed
                                sit amet viverra est. Mauris finibus tincidunt sem vel malesuada. Morbi sit amet lorem quis
                                justo tempus facilisis in a nunc.
                            </p>
                            <p class="text-white text-justify">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin purus magna, cursus eu euismod eget, aliquet porta elit. Sed
                                sit amet viverra est. Mauris finibus tincidunt sem vel malesuada. Morbi sit amet lorem quis
                                justo tempus facilisis in a nunc. Duis a pulvinar sapien. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit.
                            </p>
                            <p class="text-white text-justify">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin purus magna, cursus eu euismod eget, aliquet porta elit. Sed
                                sit amet viverra est.
                            </p>

                            <!-- <a class="common-btn yellow-color" role="button">
                                <div class="common-btn-bg">
                                    MORE
                                </div>
                            </a> -->
                            <div class="text-right mb-3">
                                <a role="button" class="common-btn text-center px-4 py-2 position-relative yellow-color">
                                    MORE
                                    <div class="common-btn-bg"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-5 align-self-end">
                        <img src="img/home/about-profile.png" class="img-fluid">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- <----------Activity Arcade -------------->
    <section>
        <div class="container">
            <div class="pt-3 pb-5">
                <div class="text-right pr-5 ">
                    <h3 class="text-uppercase common-title purple-color m-0">ACTIVITY
                        <span class="yellow-color">ARCADE</span>
                    </h3>
                </div>
                <div class="row py-5">
                    <div class="col-md-10 offset-md-1">
                        <div class="row">
                            <div class="col mx-4">
                                <div class="num-alpha d-flex align-items-center justify-content-center text-center text-white">
                                    <div class="tb-border w-75 position-relative">
                                        <h2 class="m-0 pt-1 ">#1</h2>
                                        <p class="text-uppercase m-0 num-alpha-desc text-center">Minute Tips
                                        </p>
                                    </div>
                                    <div class="num-alpha-hover">
                                        <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col mx-5">
                                <div class="num-alpha d-flex align-items-center justify-content-center text-center text-white">
                                    <div class="tb-border w-75 position-relative">
                                        <h2 class="m-0 pt-1 ">D</h2>
                                        <p class="text-uppercase m-0  num-alpha-desc text-center">Digital Course
                                        </p>
                                    </div>
                                    <div class="num-alpha-hover">
                                        <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col mx-4">
                                <div class="num-alpha d-flex align-items-center justify-content-center text-center text-white">
                                    <div class="tb-border w-75 position-relative">
                                        <h2 class="m-0 pt-1">C</h2>
                                        <p class="text-uppercase m-0  num-alpha-desc text-center">Contest Hub
                                        </p>
                                    </div>
                                    <div class="num-alpha-hover">
                                        <p class="m-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <----------Episode Snippets -------------->
    <section>
        <div class="container">
            <div class="blue-bg  px-5 py-2">
                <h3 class="text-uppercase common-title ">
                    EPISODE
                    <span class="yellow-color">SNIPPETS</span>
                </h3>
                <div class="episode-section">
                    <div class="row pb-5">
                        <div class="col-md-8 offset-md-2">
                            <a class="fancybox.iframe" href="https://www.youtube.com/embed/Th9UhbZ-eRk" fancybox="" rel="gallery">
                                <img src="https://i.ytimg.com/vi/Th9UhbZ-eRk/hqdefault.jpg" class="img-full imgsize-450 doneLoading">
                                <div class="video-icon">
                                    <img src="img/youtube-icon.png" class="img-responsive doneLoading">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <----------Photo Gallery  -------------->
    <section>
        <div class="gallery-section">
            <div class="container">
                <div class="pt-3 pb-5">
                    <div class="text-right pr-5 ">
                        <h3 class="text-uppercase common-title purple-color m-0">PHOTO
                            <span class="yellow-color">Gallery</span>
                        </h3>
                    </div>
                    <!-- Swiper -->
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background-image:url(img/home/slider1.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(img/home/slider2.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(img/home/slider3.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(img/home/slider4.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(img/home/slider5.jpg)"></div>
                            <div class="swiper-slide" style="background-image:url(img/home/slider6.jpg)"></div>
                        </div>
                        <!-- Add Pagination -->
                        <div class="swiper-pagination"></div>
                    </div>
                    <!-- <div id="demo" class="carousel slide" data-ride="carousel" data-wrap="true" data-interval="300">
                        <figure style="-webkit-transform: rotateX(180deg); /* Safari */
                                transform: rotateX(-10deg); /* Standard syntax */">
                            <div class="carousel-inner">
                                <div class="carousel-item one-slide active">
                                    <img src="https://source.unsplash.com/7mUXaBBrhoA/800x533" alt="Los Angeles">
                                </div>
                                <div class="carousel-item one-slide">
                                    <img src="https://source.unsplash.com/bjhrzvzZeq4/800x533" alt="Chicago">
                                </div>
                                <div class="carousel-item one-slide">
                                    <img src="https://source.unsplash.com/EbuaKnSm8Zw/800x533" alt="New York">
                                </div>
                                <div class="carousel-item one-slide">
                                    <img src="https://source.unsplash.com/kG38b7CFzTY/800x533" alt="Chicago">
                                </div>
                                <div class="carousel-item one-slide">
                                    <img src="https://source.unsplash.com/nvzvOPQW0gc/800x533" alt="New York">
                                </div>
                                <div class="carousel-item one-slide">
                                    <img src="https://source.unsplash.com/mCg0ZgD7BgU/800x533" alt="Chicago">
                                </div>
                                <div class="carousel-item one-slide">
                                    <img src="https://source.unsplash.com/1FWICvPQdkY/800x533" alt="New York">
                                </div>
                                <div class="carousel-item one-slide">
                                    <img src="https://source.unsplash.com/VkwRmha1_tI/800x533" alt="New York">
                                </div>
                            </div>
                        </figure>
                    </div> -->
                    <!-- <div class="carousel" data-ride="carousel" data-wrap="true">
                        <figure class="carousel-inner" style="-webkit-transform: rotateX(180deg); /* Safari */
                        transform: rotateX(-10deg); /* Standard syntax */">
                            <img src="https://source.unsplash.com/7mUXaBBrhoA/800x533" class="carousel-item" alt="">
                            <img src="https://source.unsplash.com/bjhrzvzZeq4/800x533" class="carousel-item" alt="">
                            <img src="https://source.unsplash.com/EbuaKnSm8Zw/800x533" class="carousel-item" alt="">
                            <img src="https://source.unsplash.com/kG38b7CFzTY/800x533" class="carousel-item" alt="">
                            <img src="https://source.unsplash.com/nvzvOPQW0gc/800x533" class="carousel-item" alt="">
                            <img src="https://source.unsplash.com/mCg0ZgD7BgU/800x533" class="carousel-item" alt="">
                            <img src="https://source.unsplash.com/1FWICvPQdkY/800x533" class="carousel-item" alt="">
                            <img src="https://source.unsplash.com/VkwRmha1_tI/800x533" class="carousel-item" alt="">
                        </figure>
                    </div> -->
                    <!-- <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/1)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/2)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/3)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/4)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/5)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/6)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/7)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/8)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/9)"></div>
                            <div class="swiper-slide" style="background-image:url(http://lorempixel.com/600/600/nature/10)"></div>
                        </div>
                    </div> -->
                    <div class="text-center">
                        <a role="button" class="common-btn text-center px-4 py-2 position-relative">
                            MORE
                            <div class="common-btn-bg"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <----------Our Partner  -------------->
    <section>
        <div class="container">
            <div class="blue-bg">
                <div>
                    <h3 class="text-uppercase common-title  px-5 py-2">OUR
                        <span class="yellow-color">PARTNERS</span>
                    </h3>
                </div>
                <div class="row py-5">
                    <div class="col mx-4">
                        <div class="num-alpha py-5 text-center text-white">
                            <h2>#1</h2>
                            <p class="text-uppercase">Minute
                                <br>Tips</p>
                        </div>
                    </div>
                    <div class="col mx-4">
                        <div class="num-alpha py-5 text-center text-white">
                            <h2>D</h2>
                            <p class="text-uppercase">Digital
                                <br>Course</p>
                        </div>
                    </div>
                    <div class="col mx-4">
                        <div class="num-alpha py-5 text-center text-white">
                            <h2>#1</h2>
                            <p class="text-uppercase">Contest
                                <br>Hub</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
    <!-- <----------Social Hub -------------->
    <section>
        <div class="container">
            <div class="pt-3 pb-4">
                <div class="text-right">
                    <h3 class="text-uppercase common-title purple-color">SOCIAL
                        <span class="yellow-color">HUB</span>
                    </h3>
                </div>
                <div class="row">
                    <div class="col text-center">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                            width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                            allow="encrypted-media"></iframe>
                    </div>
                    <div class="col text-center">
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                            width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                            allow="encrypted-media"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <----------Latest Buzz -------------->
    <section>
        <div class="container">
            <div class="blue-bg latest-buzz px-5 py-2">
                <div class="">
                    <h3 class="text-uppercase common-title m-0">LATEST&nbsp;
                        <span class="yellow-color">BUZZ</span>
                    </h3>
                </div>
                <div class="row py-5">
                    <div class="col-md-10 offset-md-1">
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="position-relative">
                                        <img class="card-img-top" src="img/home/4.jpg" alt="Card image cap">
                                        <div class="latest-buzz-title text-uppercase position-absolute px-3 py-2">
                                            Home loan
                                        </div>
                                    </div>
                                    <div class="card-body yellow-bg">
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                            content.
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="position-relative">
                                        <img class="card-img-top" src="img/home/5.jpg" alt="Card image cap">
                                        <div class="latest-buzz-title text-uppercase position-absolute px-4 py-2">
                                            Equity
                                        </div>
                                    </div>
                                    <div class="card-body yellow-bg">
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <div class="position-relative">
                                        <img class="card-img-top" src="img/home/6.jpg" alt="Card image cap">
                                        <div class="latest-buzz-title text-uppercase position-absolute px-4 py-2">
                                            Stocks
                                        </div>
                                    </div>
                                    <div class="card-body yellow-bg">
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                                            content.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>