<!-- <----------Video Section -------------->
<section id="home" du-spy-context du-scroll-container="scroll-container">
    <div class="home-video">
        <div class=" position-relative">
            <!-- <iframe class="video" width="1292" height="650" src="https://www.youtube.com/embed/dEJfsdGo0Is?rel=0&controls=0&showinfo=0&;autoplay=1&loop=1&playlist=dEJfsdGo0Is&modestbranding=1&mute=1"
                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
            <video width="100%" playsinline="" autoplay="" loop="" muted="" preload="yes">
                <source src="img/video/startvideo.mp4" type="video/mp4">
                <source src="img/video/startvideo.webm" type="video/webm">
            </video>
            <div class="position-absolute home-menu text-center">
                <ul class="list-unstyled inline-list">
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button" ng-click="goToAnchor('home')" du-smooth-scroll du-scrollspy>HOME</a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button" ng-click="goToAnchor('about')" du-smooth-scroll du-scrollspy>ABOUT</a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button" ng-click="goToAnchor('activity')" du-smooth-scroll du-scrollspy>ACTIVITY</a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button" ng-click="goToAnchor('snippets')" du-smooth-scroll du-scrollspy>SNIPPETS</a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button" ng-click="goToAnchor('gallery')" du-smooth-scroll du-scrollspy>GALLERY</a>
                    </li>
                    <li class="list-inline-item mx-2">
                        <a class="home-menu-btn d-block text-center" role="button" ng-click="goToAnchor('latest')" du-smooth-scroll du-scrollspy>LATEST BUZZ</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- <----------About Us -------------->
<div class="home-bg pb-5">
    <section id="about">
        <div class="blue-bg pt-5">
            <div class="container-fluid">
                <div class="row align-items-center no-gutters">
                    <div class="col-12 col-lg-7">
                        <div class="position-relative about-us">
                            <h1 class="text-uppercase common-title">KNOW&nbsp;
                                <span class="yellow-color">About Us</span>
                            </h1>
                            <p class="text-white text-justify">
                                Finance is a major part of the world and it is interlinked with almost every aspect of our lives and can be called as the
                                lifeblood of the modern world. Knowingly or unknowingly, we all make major and minor financial
                                decisions daily. Pehla Kadam is an initiative by CNBC AWAAZ that aims to impart knowledge
                                that is crucial to make well-informed and ultimately intelligent financial decisions. Did
                                you know that CNBC AWAAZ is the leading Hindi Business News Channel in India? In fact, it
                                has managed to create quite an impact on consumers and administrators alike.
                            </p>
                            <p class="text-white text-justify">
                                Pehla Kadam is a strategically designed platform that provides ideas and creates products for people who are looking for
                                a better way to manage their finances. In fact, Pehla Kadam has something to offer for everyone
                                - from corporates to first-time investors. Everything in this world is related to finance
                                and therefore it is important to learn about it. Knowledge is the best weapon to have in
                                your arsenal, if you want to become a well-informed investor. Pehla Kadam is the one-stop
                                guide for all those who want to improve their knowledge about the financial world.
                            </p>
                            <div class="text-center text-lg-right mb-3 py-4" ng-click="aboutMore()">
                                <a role="button" class="common-btn text-center px-4 py-2 position-relative yellow-color my-5">
                                    MORE
                                    <div class="common-btn-bg"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 px-3 align-self-end">
                        <img src="img/home/about-profile.png" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <----------Activity Arcade -------------->
    <section id="activity">
        <div class="container">
            <div class="pt-3 pb-5">
                <div class="text-right">
                    <h1 class="text-uppercase common-title purple-color m-0">ACTIVITY
                        <span class="yellow-color">ARCADE</span>
                    </h1>
                </div>
                <div class="activity-space">
                    <div class="row py-5">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col">
                                    <div class="num-alpha d-flex align-items-center justify-content-center text-center text-white">
                                        <div class="tb-border w-75">
                                            <h2 class="m-0 pt-1 ">G</h2>
                                            <p class="text-uppercase m-0 num-alpha-desc text-center">Galat<br> Faimi
                                            </p>
                                        </div>
                                        <div class="num-alpha-hover">
                                            <h4 class="m-0">COMING SOON !!</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="num-alpha d-flex align-items-center justify-content-center text-center text-white" ng-click="modalOpen()">
                                        <div class="tb-border w-75">
                                            <h2 class="m-0 pt-1 ">D</h2>
                                            <p class="text-uppercase m-0  num-alpha-desc text-center">Digital Course
                                            </p>
                                        </div>
                                        <div class="num-alpha-hover">
                                            <!-- <p class="m-0">Lorem Ipsum is simply dummy<br> text of the printing<br> and typesetting industry.
                                            </p> -->
                                            <h4 class="m-0">TAKE COURSE !</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div ui-sref="contest-hub" class="num-alpha d-flex align-items-center justify-content-center text-center text-white">
                                        <div class="tb-border w-75">
                                            <h2 class="m-0 pt-1">#1</h2>
                                            <p class="text-uppercase m-0  num-alpha-desc text-center">Minute Tips
                                            </p>
                                        </div>
                                        <div class="num-alpha-hover">
                                            <!-- <p class="m-0">Lorem Ipsum is simply dummy<br> text of the printing<br> and typesetting industry.
                                            </p> -->
                                            <h4 class="m-0">WATCH MORE !</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <----------Episode Snippets -------------->
    <section id="snippets">
        <div class="blue-bg py-2">
            <div class="container-fluid">
                <h1 class="text-uppercase common-title ">
                    EPISODE
                    <span class="yellow-color">SNIPPETS</span>
                </h1>
                <div class="episode-section">
                    <div class="row pb-5">
                        <div class="col-12 col-lg-8 mx-auto text-center">
                            <iframe class="video white-border" width="825" height="400" src="https://www.youtube.com/embed/pKt6evGdEPY?rel=0&amp;showinfo=0&amp;start=0"
                                frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <----------Photo Gallery  -------------->
    <section id="gallery">
        <div class="gallery-section">
            <div class="container">
                <div class="pt-3 pb-5">
                    <div class="text-right">
                        <h1 class="text-uppercase common-title purple-color m-0">PHOTO
                            <span class="yellow-color">Gallery</span>
                        </h1>
                    </div>
                    <!-- Swiper -->
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" ng-repeat="s in homeSlide track by $index"><img src="{{s}}" class="img-fluid"></div>
                        </div>
                    </div>
                    <div ui-sref="photo-gallery" class="text-center">
                        <a role="button" class="common-btn text-center px-4 py-2 position-relative">
                            MORE
                            <div class="common-btn-bg"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <----------Our Partner  -------------->
    <section id="partners">
        <div class="blue-bg">
            <div class="container">
                <div class="mt-3">
                    <h1 class="text-uppercase common-title px-5 py-2">OUR
                        <span class="yellow-color">PARTNERS</span>
                    </h1>
                </div>
                <div class="row no-gutters py-5">
                    <div class="col-md-12">
                        <div class="row partners-padding">
                            <div class="col-12 col-lg-4">
                                <div class="partners-alpha d-flex align-items-center justify-content-center text-center">
                                    <div class="tb-border w-75">
                                        <div class="m-0 pt-1 text-uppercase text-center partner-text">PRESENTING<br> PARTNER</div>
                                    </div>
                                    <div class="partners-alpha-hover">
                                        <img src="img/home/axis.png" class="img-fluid">
                                    </div>
                                </div>
                                <div class="text-center my-5 my-lg-3">
                                    <a href="https://simplehai.axisdirect.in/open-account#1Page" target="_blank" role="button" class="common-btn text-center px-4 py-2 position-relative yellow-color">
                                    KNOW MORE
                                    <div class="common-btn-bg"></div>
                                </a>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="partners-alpha d-flex align-items-center justify-content-center text-center">
                                    <div class="tb-border w-75">
                                        <div class="m-0 pt-1 text-uppercase text-center partner-text">ASSOCIATE<br> PARTNER</div>
                                    </div>
                                    <div class="partners-alpha-hover">
                                        <img src="img/home/sbi.png" class="img-fluid">
                                    </div>
                                </div>
                                <div class="text-center my-5 my-lg-3">
                                    <a href="https://www.sbimf.com/en-us" target="_blank" role="button" class="common-btn text-center px-4 py-2 position-relative yellow-color">
                                    KNOW MORE
                                    <div class="common-btn-bg"></div>
                                </a>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="partners-alpha d-flex align-items-center justify-content-center text-center">
                                    <div class="tb-border w-75">
                                        <div class="m-0 pt-1 text-uppercase text-center partner-text">DIGITAL<br> PARTNER</div>
                                    </div>
                                    <div class="partners-alpha-hover p-5">
                                        <img src="img/home/jio.png" class="img-fluid">
                                    </div>
                                </div>
                                <div class="text-center my-5 my-lg-3">
                                    <a target="_blank" role="button" class="common-btn text-center px-4 py-2 position-relative yellow-color">
                                    KNOW MORE
                                    <div class="common-btn-bg"></div>
                                </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <----------Social Hub -------------->
    <section id="social">
        <div class="container">
            <div class="pt-3 pb-4">
                <div class="text-right">
                    <h1 class="text-uppercase common-title purple-color">SOCIAL
                        <span class="yellow-color">HUB</span>
                    </h1>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="text-center">
                            <!-- Page plugin's width will be 190px -->
                            <iframe class="blue-border social-iframe" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpehlakadam04%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
                                width="340" height="500" style="overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                                allow="encrypted-media"></iframe>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="blue-border mx-auto twitter-width">
                            <a class="twitter-timeline" data-width="340" data-height="495" href="https://twitter.com/Pehlakadam04?ref_src=twsrc%5Etfw"></a>
                            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- <----------Latest Buzz -------------->
    <section id="latest">
        <div class="blue-bg latest-buzz py-2 mb-5">
            <div class="container-fluid">
                <div class="">
                    <h1 class="text-uppercase common-title m-0">LATEST&nbsp;
                        <span class="yellow-color">BUZZ</span>
                    </h1>
                </div>
                <div class="row py-5">
                    <div class="col-md-10 offset-md-1">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <div class="card">
                                    <div class="position-relative">
                                        <img class="card-img-top" src="img/home/4.jpg" alt="image">
                                        <div class="latest-buzz-title text-uppercase position-absolute px-3 py-2">
                                            ITR
                                        </div>
                                    </div>
                                    <div class="card-body yellow-bg">
                                        <p class="card-text">15 mistakes to avoid while filing ITR</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="card">
                                    <div class="position-relative">
                                        <img class="card-img-top" src="img/home/5.jpg" alt="image">
                                        <div class="latest-buzz-title text-uppercase position-absolute px-4 py-2">
                                            SAVING
                                        </div>
                                    </div>
                                    <div class="card-body yellow-bg">
                                        <p class="card-text">6 reasons to start saving from today</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="card">
                                    <div class="position-relative">
                                        <img class="card-img-top" src="img/home/6.jpg" alt="image">
                                        <div class="latest-buzz-title text-uppercase position-absolute px-4 py-2">
                                            HOME LOAN
                                        </div>
                                    </div>
                                    <div class="card-body yellow-bg">
                                        <p class="card-text">Reasons for rejection of home loan</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mb-3 py-3" ui-sref="latest-buzz({name:'15-mistakes'})">
                    <a role="button" class="common-btn text-center px-4 py-2 position-relative yellow-color my-5">
                        MORE
                        <div class="common-btn-bg"></div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>