<div class="inside-page">
    <div class="d-flex align-items-center px-5 pt-5">
        <div class="initial-letter">#P</div>
        <div class="ml-2 initial-word">
            <div>Photo</div>
            <div>Gallery</div>
        </div>
    </div>
    <div class="container py-5">
        <div class="gallery-inside">
            <div class="season-common p-5">
                <div class="season-text">
                    <h3 class="text-uppercase">Season 4</h3>
                </div>
                <div class="row season-scroll">
                    <div class="col-2 mb-2" ng-repeat="img in season4 track by $index">
                        <div class="p-2 mb-4 gallery-images blue-border-light">
                            <a fancybox href="{{img.img1}}" cyclic="true">
                                        <img ng-src="{{img.img1}}" class="img-fluid fancy-image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-inside my-5">
            <div class="season-common p-5">
                <div class="season-text">
                    <h3 class="text-uppercase">Season 3</h3>
                </div>
                <div class="row season-scroll">
                    <div class="col-2 mb-2" ng-repeat="img in season3 track by $index">
                        <div class="p-2 mb-4 gallery-images blue-border-light">
                            <a fancybox href="{{img.img1}}" cyclic="true">
                                <img ng-src="{{img.img2}}" class="img-fluid fancy-image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-inside my-5">
            <div class="season-common p-5">
                <div class="season-text">
                    <h3 class="text-uppercase">Season 2</h3>
                </div>
                <div class="row season-scroll">
                    <div class="col-2 mb-2" ng-repeat="img in season2 track by $index">
                        <div class="p-2 mb-4 gallery-images blue-border-light">
                            <a fancybox href="{{img.img1}}">
                                <img ng-src="{{img.img2}}" class="img-fluid fancy-image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="gallery-inside">
            <div class="season-common p-5">
                <div class="season-text">
                    <h3 class="text-uppercase">Season 1</h3>
                </div>
                <div class="row season-scroll">
                    <div class="col-2 mb-2" ng-repeat="img in season2 track by $index" ng-repeat="img in season1 track by $index">
                        <div class="p-2 mb-4 gallery-images blue-border-light">
                            <a fancybox href="{{img.img1}}">
                                <img ng-src="{{img.img2}}" class="img-fluid fancy-image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="div">

    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna
    aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut
    aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat,
    vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
    zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
    sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
    quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum
    iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at
    vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait
    nulla facilisi. -->

</div>