<div class="inside-page">
    <div class="d-flex align-items-center px-5 pt-5">
        <div class="initial-letter">#1</div>
        <div class="ml-2 initial-word">
            <div>Minute</div>
            <div>Tips</div>
        </div>
    </div>
    <div class="container overflow-class py-5">
        <div class="text-center purple-color">CNBC Awaaz launches a special format for quick financial education by means of #1MINTIPS. Experts will give financial
            solutions in just 60 seconds. Topics across asset classes will be a part of this format and will include topics
            such as insurance, gold, security, mutual funds, personal finance, commodities, other investments etc.</div>
        <!-- <div class="input-group float-right">
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="searchName">
            <div class="input-group-btn">
                <button class="btn-search" type="submit">
                      </button>
            </div>
        </div> -->
        <div class="p-3 mt-5 yellow-border">
            <div class="row">
                <div class="col-12 col-md-2" ng-repeat="itemSeason in season4 | filter: searchName">
                    <div class="position-relative">
                        <a data-fancybox="gallery" class="" ng-href="https://www.youtube.com/embed/{{itemSeason.videoUrl}}?autoplay=1"
                            rel="gal" fancybox-box>
                                    <img ng-src="http://img.youtube.com/vi/{{itemSeason.imageUrl}}/hqdefault.jpg" class="img-fluid fancy-image">
                                    <img class="video-icon" src="img/youtube-small.png" class="img-fluid">
                                </a>
                    </div>
                    <div class="text-center purple-color">{{itemSeason.episodeno}}<br>{{itemSeason.searchName}}</div>
                </div>
            </div>
        </div>
    </div>
</div>