<div class="inside-page">
    <div class="d-flex align-items-center px-5">
        <div class="initial-letter">#C</div>
        <div class="ml-2 initial-word">
            <div>Contest</div>
            <div>Hub</div>
        </div>
    </div>
    <div class="container py-5">
        <div class="d-flex align-items-center justify-content-center">
            <div class="mx-3 num-alpha d-flex align-items-center justify-content-center text-center text-white">
                <div class="w-75">
                    <div class="m-0 pt-1 text-uppercase text-center digital-text">did you know ?</div>
                </div>
            </div>
            <div class="mx-3 num-alpha d-flex align-items-center justify-content-center text-center text-white">
                <div class="w-75">
                    <div class="m-0 pt-1 text-uppercase text-center digital-text">vote the right note</div>
                </div>
            </div>
            <div class="mx-3 num-alpha d-flex align-items-center justify-content-center text-center text-white">
                <div class="w-75">
                    <div class="m-0 pt-1 text-uppercase text-center digital-text">spot the difference</div>
                </div>
            </div>
        </div>
    </div>
</div>